<h2>First Component</h2>
<div>
    Hello User, {{userName}}
</div>
<div>Age: {{age}}</div>
<div>Address : {{address}} </div>
<div>Phone : {{phone}}</div>
<hr>
<div>Title : {{product.title}}</div>
<div>Description : {{product.description}}</div>
<div>Price : {{product.price}}</div>
<div>Category : {{product.category}} </div>
<hr>